@model WebApplicationDemo.Models.viewModelStudentCourse


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditCourse</title>
</head>
<body>

    <center>

        <h1>Courses Available to Pick</h1>
        <table>
            <tr>


                <th>Class Name</th>
                <th>Class Time</th>
            </tr>
            @foreach (var student in Model.Courses.Courses)
            {
                <tr>

                    <td>@student.ClassName</td>
                    <td>@student.ClassTime.ToShortTimeString()</td>
                </tr>
            }
        </table>
        <br />
        <br />

        Student ID:
        @Model.UID
        <br />
        Student Name:
        @Model.FirstName
        @Model.LastName
        <br />
        Email Address:
        @Model.StudentEmail

       

        <h1>Pick Your Courses</h1>
        <form asp-action="UpdateCourse" method="post">
            <p>Please enter your choices.</p>
            <label asp-for="ClassName">First Choice</label>

            <select asp-for="ClassName" name="class1" asp-items="@(new SelectList(@Model.Courses.Courses,"ClassID","ClassName"))"></select>

            <br />
            <br />
            <label asp-for="ClassName">Second Choice</label>
            <select asp-for="ClassName" name="class2" asp-items="@(new SelectList(@Model.Courses.Courses,"ClassID","ClassName"))"></select>
            <br />
            <br />
            <label asp-for="ClassName">Third Choice</label>
            <select asp-for="ClassName" name="class3" asp-items="@(new SelectList(@Model.Courses.Courses,"ClassID","ClassName"))"></select>
            <br />
            <br />
            <button type="submit">submit</button>
        </form>

    </center>


</body>
</html>
