@model WebApplicationDemo.Models.viewModelStudentCourse


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditCourse</title>
</head>
<body>

    <center>

        <h1>Courses Available to Pick</h1>
        <table>
            <tr>


                <th>Class Name</th>
                <th>Class Time</th>
            </tr>
            @foreach (var student in Model.Courses.Courses)
            {
                <tr>

                    <td>@student.ClassName</td>
                    <td>@student.ClassTime.ToShortTimeString()</td>
                </tr>
            }
        </table>
        <br />
        <br />

        Student ID:
        @Model.UID
        <br />
        Student Name:
        @Model.FirstName
        @Model.LastName
        <br />
        Email Address:
        @Model.StudentEmail



        <h1>Pick Your Courses</h1>
        @*<form asp-action="UpdateCourse" method="post">*@
        <form method="post">
            <p>Please enter your choices.</p>
            <label asp-for="AddedCourse.ClassID">Select Your Courses</label>

            <select asp-for="AddedCourse.ClassID" asp-items="@(new SelectList(@Model.Courses.Courses,"ClassID","ClassName"))"></select>
            <input asp-for="AddedCourse.UID" type="hidden" />
            <br />
            <br />
           
            <button type="submit">Add Class</button>
        </form>

    </center>

    <h1>Courses Selected Classes</h1>
        <table>
            <tr>


                <th>Class Name</th>
                <th>Class Time</th>
            </tr>
            @foreach (var student in Model.SelectedCourses.Courses)
            {
                <tr>

                    <td>@Model.ClassName</td>
                    <td>@Model.ClassTime.ToShortTimeString()</td>
                </tr>
            }
        </table>
       







</body>
</html>

<script type="text/javascript">
    var AvailiableCourse = @Model.Courses;

    $(document).ready(function () {
        var $locations = $('#Class1');


        $('#Class1').change(function () {
            var classID = $(this).val()

            var html = $.map(lcns, function (lcn) {
                return '<option value="' + lcn + '">' + lcn + '</option>'
            }).join('');
            $locations.html(html)
        });
    });

    function loadClass() {

    }

    function loadOtherClasses() {

    }

   
   
</script>
