@model WebApplicationDemo.Models.Courses


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditCourse</title>
</head>
<body>

    <center>

        @*@using (Html.BeginForm())
        {
            //for (int i = 0; i < 6; i++)
            foreach (var course in Model.Courses)
            {
                //@Html.CheckBoxFor(m => Model.courses[i].ischecked)
                <input type="checkbox" id="@course.ClassID" value="@course.ischecked" />
                <span>@course.ClassName</span>
                <span>@course.ClassTime</span>
                //@Model.courses[i].ClassName
                @Html.HiddenFor(m => course.ClassID)
                @Html.HiddenFor(m => course.ClassName)
                <br />
            }

            <input type="submit" value="Get Selected Checkboxlist Items" />
            <hr />
            <h1>@ViewBag.chkmsg</h1>
        }*@


        <h1>Edit Course Information</h1>
        <form asp-action="UpdateStudent" method="post">
            <p>Please enter you first name.</p>
            <input asp-for="ClassName" value="@Model.ClassName" />
            <br />
            <p>Last name:</p>
            <input asp-for="ClassName" value="@Model.ClassName" />
            <br />
            <p>Email:</p>
            <input asp-for="ClassName" value="@Model.ClassName" />
            <br />
            <button type="submit">submit</button>
        </form>

    </center>


</body>
</html>
