@model WebApplicationDemo.Models.viewModelStudentCourse



@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateCourse</title>
</head>
<body>
    <center>
        <h1>Courses Selected</h1>
        <br />
        <P>
            Student ID:
            @Model.UID
            <br />
            Student Name:
            @Model.FirstName

            @Model.LastName
            <br />
            Email Address:
            @Model.StudentEmail
        </P>
        <table>
            <tr>
                @*<th>Class ID</th>*@
                <th>Class Name</th>
                <th>Class Time</th>
            </tr>

            @foreach (var student in Model.Courses.Courses)
            {
                <tr>
                    @*<td>@student.ClassID</td>*@
                    <td>@student.ClassName</td>
                    <td>@student.ClassTime.ToShortTimeString()</td>
                </tr>
            }
        </table>
        <br />
        <br />
        <a href="@Url.Action("GetReport","Home")">Report </a>
    </center>



</body>
</html>
